# 데이터 불러오기/살펴보기

### 주요 내용

1. csv, xlsx 파일 불러오기
2. 데이터 살펴보기
3. DRM 보안 파일 불러오기

<br>

### 목표 
1. 분석에 필요한 데이터를 python으로 불러올 수 있다.
2. 데이터의 일부나 특성을 확인할 수 있다. 


<br>
<hr>
<br>

## 1. 파일 불러와서 살펴보기

**pandas** 라이브러리의 *read_csv()* 등의 함수를 활용해서 데이터 불러오기 가능 
아래의 표현들을 활용해서 데이터 파일의 경로 지정 필요 

* `/` : **root**. Windows에서는 C:\
* `~/` : 사용자 폴더. Windows에서는 C:\Users\사용자계정이름
* `./` : 현재 작업 폴더(working directory), 별도로 작업하지 않은 경우 생략 가능
* `../` : 현재 폴더의 상위 폴더


`바탕화면`처럼 익숙한 곳에 새로운 폴더를 만들고, 데이터 파일을 옮겨서 작업하는 것을 추천

In [ ]:
# 현재 작업 폴더 확인
    ## print working directory
%pwd

<br>

### 1.1. CSV 파일 불러오기

**pandas** 라이브러리 불러오기

In [ ]:
import pandas as pd

In [ ]:
# pandas의 read_csv( ) 활용
#df_ins= pd.read_csv("./data/insurance.csv")
df_ins= pd.read_csv("data/insurance.csv")
df_ins    
    ## 경로가 중요! 
    ## ./ : ipynb 노트북 파일 폴더
    ## ./ 생략 가능
    ## Tab으로 자동 완성 기능 활용 가능

In [ ]:
# 타입 확인
type(df_ins)
    ## "DataFrame"

In [ ]:
# 메서드의 확인(마침표 뒤에서 Tab 누르기)
df_ins.

<br>

### 1.2. 데이터 살펴보기

In [ ]:
# head( )로 앞 몇개 관측치 확인
df_ins.head()

In [ ]:
# tail( )로 끝 몇 개 관측치 확인
df_ins.tail(n=3)

In [ ]:
# 관측치/ 변수 개수 확인
df_ins.shape

In [ ]:
# 관측치 개수만 확인
df_ins.shape[0]

In [ ]:
# index(행 이름) 확인
df_ins.index

In [ ]:
# columns(변수 이름) 확인
df_ins.columns

In [ ]:
# 변수 형식 확인
df_ins.dtypes

<br>

#### [실습] data 폴더의 PulseRates.csv를 불러와서 df_pr로 저장하기

이후 자유롭게 데이터 탐색하기

In [ ]:
df_pr = pd.read_csv("data/PulseRates.csv")

In [ ]:
df_pr.dtypes

In [ ]:
df_pr

#### [참고] Encoding 지정 및 index, header 지정

In [ ]:
# 인코딩(글자 저장 방법) 오류 발생
    ## UnicodeDecodeError  'utf-8' codec can't decode byte 0xbc in position 1: invalid start byte
pd.read_csv('data/고용지표_20221115084415.csv')

In [ ]:
# 옵션 encoding='CP949' 추가
pd.read_csv('data/고용지표_20221115084415.csv', encoding='CP949')

In [ ]:
# index, header 지정
pd.read_csv('data/고용지표_20221115084415.csv', encoding='CP949', index_col=0, header=[0,1])

<br>


### 1.3. Excel 파일 불러오기  

`Excel` 파일은 구버전의 **xls**와 새로운 버전의 **xlsx**로 구분하며 추가 라이브러리 `xlrd`와 `openpyxl` 설치 필수
 이후 pandas의 `read_excel( )`을 사용 가능 
 > pandas 1.3 이전 버전에서는 **xlsx** 파일을 불러올 때 함수 안에 `, engine='openpyxl'`를 추가해야할 수도 있습니다.

In [26]:
# 무난한 첫번째 시트 데이터 불러오기
sheet1 = pd.read_excel('./data/test.xlsx')
sheet1

   ID  Var1  Var2  Var3
0   1    11    45    75
1   2    54    32    34
2   4    65    43    54

In [27]:
# 시트 번호 지정하고 2줄 무시하기
sheet2 = pd.read_excel('data/test.xlsx', sheet_name=1, skiprows=2)
sheet2
    ## sheet_name : 시트 이름이나 번호 지정, 번호는 0부터 시작
    ## skiprows   : 무시할 행 수

   이름  나이    키
0  민서  20  160
1  민준  21  175

In [28]:
# 첫 행부터 데이터가 시작되는 데이터 불러오기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None)
sheet3
    ## header : 첫 행에 변수이름이 저장되었는지 여부

      0   1
0  2015  32
1  2016  34
2  2017   -

In [32]:
# 첫 행부터 데이터가 시작되는 데이터 불러오면서 변수 이름 지정하기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None, names=['년도','건수'])
sheet3.replace('-', 0, inplace=True)
sheet3

     년도  건수
0  2015  32
1  2016  34
2  2017   0

In [30]:
# 결측 저장값 지정하기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None, names=['년도','건수'], na_values='-')
sheet3
    ## NaN : 결측값

     년도    건수
0  2015  32.0
1  2016  34.0
2  2017   NaN


<br>  

####  [실습] 아래의 사이트에서 관심있는 데이터를 탐색하기

* csv 파일 중 인코딩 관련 에러가 발생할 경우 read_csv( )안에서 `encoding='CP949'` 옵션 추가
* xlsx의 경우 다운로드한 파일을 열어서 읽기 전용을 해제해야 할 수도 있음



[공공데이터포털](https://www.data.go.kr/index.do)

[서울 열린데이터 광장](http://data.seoul.go.kr/)

[Dacon](https://dacon.io/)

In [34]:
df = pd.read_csv("/Users/dseduoa.edu/Downloads/서울특별시 마포구_관리처분계획인가 현황_20230522.csv",
                encoding="cp949")
df

,연번,구분,구역명,지번주소,구역면적(㎡),연면적(㎡),건립(세대),사업시행인가,관리처분,착공,분양승인,준공인가,비고,Unnamed: 13
0,1.0,재건축,망원438,망원동 438번지 일대,4768.8,9435.885,149.0,39827.0,42626.0,43252.0,NaN,43714.0,NaN,NaN
1,2.0,재건축,공덕1구역,공덕동 105번지 일대,58427.0,200811.610,1101.0,42789.0,43209.0,-,-,-,NaN,NaN
2,3.0,재건축,망원1구역,망원동458번지 일대,20631.3,64705.790,385.0,41144.0,41809.0,42635.0,42642.0,43682.0,NaN,NaN
3,4.0,재건축,창전1구역,창전동 27 일대,14739.4,43400.010,276.0,40962.0,42159.0,42716.0,42725.0,43609.0,NaN,NaN
4,5.0,재건축,신수1구역,신수동 93번지 일대,48035.0,161880.480,1015.0,41368.0,42124.0,42626.0,42657.0,43707.0,NaN,NaN
5,6.0,재건축,상명·삼락,망원동 472-1번지 일대,1989.6,6756.010,66.0,43004.0,43139.0,43535.0,NaN,44095.0,NaN,NaN
6,7.0,재건축,삼산아파트,합정동437-18 일대,1668.1,4444.890,46.0,39562.0,42076.0,42285.0,NaN,42863.0,NaN,NaN
7,8.0,재건축(단독),아현2,아현동662번지 일대,65554.0,209040.240,1419.0,41509.0,42530.0,43706.0,44902.0,44894.0,NaN,NaN
8,9.0,재개발,염리2,염리동45번지 일대,51748.0,145627.000,927.0,40143.0,41416.0,42304.0,42305.0,43371.0,NaN,NaN
9,10.0,재개발,대흥2,대흥동 12번지 일대,61892.0,177072.900,1248.0,40927.0,42075.0,42663.0,42697.0,43882.0,NaN,NaN
10,11.0,재개발,아현1-3,아현동802번지 일대,23483.0,77885.030,492.0,40962.0,41298.0,41426.0,NaN,42796.0,NaN,NaN
11,12.0,재개발,마포로6,공덕동385번지 일대,16595.0,74749.130,472.0,41116.0,42194.0,42933.0,42957.0,44070.0,NaN,NaN
12,13.0,재개발,염리3,염리동 507번지 일대,87986.0,256349.710,1694.0,41795.0,42362.0,43187.0,43189.0,44281.0,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = pd.read_csv("/Users/dseduoa.edu/Desktop/서울특별시 마포구_관리처분계획인가 현황_20230522.csv",
                encoding="cp949")
df

## 2.  DRM 보안 적용된 Excel 파일 불러오기

### 2.1. pywin32 활용

In [ ]:
import pandas as pd
import win32com.client as win32
import os 

# Excel 실행
excel=win32.Dispatch('Excel.Application')   

# 경로 지정 및 파일 열기
filepath = os.getcwd() +'/data/test.xlsx'
wb = excel.Workbooks.Open(filepath)

filepath

In [ ]:
# Sheet 지정
ws = wb.Worksheets(1) 

# 전체 행, 열 수 확인
nRow = ws.UsedRange.Rows.Count 
nColumn = ws.UsedRange.Columns.Count 

# 불러올 범위 지정
listValue = ws.Range(ws.Cells(1,1) , ws.Cells(nRow,nColumn)).Value
pd.DataFrame(listValue[1:] , columns=listValue[0])

In [ ]:
# Excel 종료
excel.Quit()

<br>

한번에 실행

In [39]:
import pandas as pd
import win32com.client as win32
import os 

# Excel 실행
excel=win32.Dispatch('Excel.Application')   

# 경로 지정 및 파일 열기
#filepath = os.getcwd() +'/data/test.xlsx'
filepath = "/Users/dseduoa.edu/Desktop/서울특별시 마포구_관리처분계획인가 현황_20230522.csv"
wb = excel.Workbooks.Open(filepath)

# Sheet 지정
ws = wb.Worksheets(1) 

# 전체 행, 열 수 확인
nRow = ws.UsedRange.Rows.Count 
nColumn = ws.UsedRange.Columns.Count 

# 불러올 범위 지정
listValue = ws.Range(ws.Cells(1,1) , ws.Cells(nRow,nColumn)).Value
df_drm = pd.DataFrame(listValue[1:] , columns=listValue[0]) 

excel.Quit()     

df_drm

,연번,구분,구역명,지번주소,구역면적(㎡),연면적(㎡),건립(세대),사업시행인가,관리처분,착공,분양승인,준공인가,비고
0,1.0,재건축,망원438,망원동 438번지 일대,4768.8,9435.885,149.0,39827.0,42626.0,43252.0,None,43714.0,None
1,2.0,재건축,공덕1구역,공덕동 105번지 일대,58427.0,200811.610,1101.0,42789.0,43209.0,-,-,-,None
2,3.0,재건축,망원1구역,망원동458번지 일대,20631.3,64705.790,385.0,41144.0,41809.0,42635.0,42642.0,43682.0,None
3,4.0,재건축,창전1구역,창전동 27 일대,14739.4,43400.010,276.0,40962.0,42159.0,42716.0,42725.0,43609.0,None
4,5.0,재건축,신수1구역,신수동 93번지 일대,48035.0,161880.480,1015.0,41368.0,42124.0,42626.0,42657.0,43707.0,None
5,6.0,재건축,상명·삼락,망원동 472-1번지 일대,1989.6,6756.010,66.0,43004.0,43139.0,43535.0,None,44095.0,None
6,7.0,재건축,삼산아파트,합정동437-18 일대,1668.1,4444.890,46.0,39562.0,42076.0,42285.0,None,42863.0,None
7,8.0,재건축(단독),아현2,아현동662번지 일대,65554.0,209040.240,1419.0,41509.0,42530.0,43706.0,44902.0,44894.0,None
8,9.0,재개발,염리2,염리동45번지 일대,51748.0,145627.000,927.0,40143.0,41416.0,42304.0,42305.0,43371.0,None
9,10.0,재개발,대흥2,대흥동 12번지 일대,61892.0,177072.900,1248.0,40927.0,42075.0,42663.0,42697.0,43882.0,None
10,11.0,재개발,아현1-3,아현동802번지 일대,23483.0,77885.030,492.0,40962.0,41298.0,41426.0,None,42796.0,None
11,12.0,재개발,마포로6,공덕동385번지 일대,16595.0,74749.130,472.0,41116.0,42194.0,42933.0,42957.0,44070.0,None
12,13.0,재개발,염리3,염리동 507번지 일대,87986.0,256349.710,1694.0,41795.0,42362.0,43187.0,43189.0,44281.0,None

<br>
<br>

### 2.2. xlwings 라이브러리 활용

+ 장점: VBA 연동 가능

In [ ]:
# 라이브러리 설치
# !pip install xlwings

In [ ]:
# 라이브러리 불러오기
import xlwings as xw
import pandas as pd
import os

In [ ]:
# Excel 파일 열기
# filepath = os.getcwd() +'/data/test.xlsx'
book = xw.Book('./data/test.xlsx')

In [ ]:
# Sheet 선택
sheet = book.sheets[0]    

# 전체 데이터 데이터 불러오기
df_drm = sheet.used_range.options(pd.DataFrame, index = False).value
df_drm

In [ ]:
# 특정 부분만 불러오기
sheet = book.sheets[1]    
df_drm = sheet.range("A3:C5").options(pd.DataFrame, index = False).value
df_drm

In [ ]:
# 종료
xw.apps.active.quit()

#### End of script