# 데이터 불러오기/살펴보기

### 주요 내용

1. csv, xlsx 파일 불러오기
2. 데이터 살펴보기
3. DRM 보안 파일 불러오기

<br>

### 목표 
1. 분석에 필요한 데이터를 python으로 불러올 수 있다.
2. 데이터의 일부나 특성을 확인할 수 있다. 


<br>
<hr>
<br>

## 1. 파일 불러와서 살펴보기

**pandas** 라이브러리의 *read_csv()* 등의 함수를 활용해서 데이터 불러오기 가능 
아래의 표현들을 활용해서 데이터 파일의 경로 지정 필요 

* `/` : **root**. Windows에서는 C:\
* `~/` : 사용자 폴더. Windows에서는 C:\Users\사용자계정이름
* `./` : 현재 작업 폴더(working directory), 별도로 작업하지 않은 경우 생략 가능
* `../` : 현재 폴더의 상위 폴더


`바탕화면`처럼 익숙한 곳에 새로운 폴더를 만들고, 데이터 파일을 옮겨서 작업하는 것을 추천

In [2]:
# 현재 작업 폴더 확인
    ## print working directory
%pwd

'C:\\Users\\user\\Desktop\\강의자료) Python으로 시작하는 데이터 분석\\실습자료_Python 데이터 분석'

<br>

### 1.1. CSV 파일 불러오기

**pandas** 라이브러리 불러오기

In [1]:
import pandas as pd

In [3]:
# pandas의 read_csv( ) 활용
#df_ins= pd.read_csv("./data/insurance.csv")
df_ins= pd.read_csv("data/insurance.csv")
df_ins    
    ## 경로가 중요! 
    ## ./ : ipynb 노트북 파일 폴더
    ## ./ 생략 가능
    ## Tab으로 자동 완성 기능 활용 가능

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
# 타입 확인
type(df_ins)
    ## "DataFrame"

pandas.core.frame.DataFrame

In [ ]:
# 메서드의 확인(마침표 뒤에서 Tab 누르기)
df_ins.

<br>

### 1.2. 데이터 살펴보기

In [7]:
# head( )로 앞 몇개 관측치 확인
df_ins.head(n=10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [8]:
# tail( )로 끝 몇 개 관측치 확인
df_ins.tail(n=3)

      age     sex    bmi  children smoker     region     charges
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [9]:
# 관측치/ 변수 개수 확인
df_ins.shape

(1338, 7)

In [10]:
# 관측치 개수만 확인
df_ins.shape[0]

1338

In [11]:
# index(행 이름) 확인
df_ins.index

RangeIndex(start=0, stop=1338, step=1)

In [12]:
# columns(변수 이름) 확인
df_ins.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [13]:
# 변수 형식 확인
df_ins.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

<br>

#### [실습] data 폴더의 PulseRates.csv를 불러와서 df_pr로 저장하기

이후 자유롭게 데이터 탐색하기

In [15]:
df_pr = pd.read_csv("data/PulseRates.csv")
df_pr

,Height,Weight,Age,Gender,Smokes,Alcohol,Exercise,Ran,Pulse1,Pulse2,Year
0,173,57.0,18,2,2,1,2,2,86.0,88.0,93
1,179,58.0,19,2,2,1,2,1,82.0,150.0,93
2,167,62.0,18,2,2,1,1,1,96.0,176.0,93
3,195,84.0,18,1,2,1,1,2,71.0,73.0,93
4,173,64.0,18,2,2,1,3,2,90.0,88.0,93
...,...,...,...,...,...,...,...,...,...,...,...
105,93,27.0,19,2,2,2,3,2,119.0,120.0,98
106,161,43.0,19,2,2,2,3,2,90.0,89.0,98
107,182,60.0,22,1,2,1,3,2,86.0,84.0,98
108,170,65.0,18,1,2,1,1,2,69.0,64.0,98
109,185,85.0,19,1,2,1,2,2,75.0,68.0,98

In [16]:
df_pr.dtypes

Height        int64
Weight      float64
Age           int64
Gender        int64
Smokes        int64
Alcohol       int64
Exercise      int64
Ran           int64
Pulse1      float64
Pulse2      float64
Year          int64
dtype: object

In [20]:
for col in df_pr.columns:
    print(col)

Height
Weight
Age
Gender
Smokes
Alcohol
Exercise
Ran
Pulse1
Pulse2
Year

#### [참고] Encoding 지정 및 index, header 지정

In [17]:
# 인코딩(글자 저장 방법) 오류 발생
    ## UnicodeDecodeError  'utf-8' codec can't decode byte 0xbc in position 1: invalid start byte
pd.read_csv('data/고용지표_20221115084415.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbc in position 1: invalid start byte

In [18]:
# 옵션 encoding='CP949' 추가
pd.read_csv('data/고용지표_20221115084415.csv', encoding='CP949')

,성별(1),2021. 08,2021. 08.1,2021. 08.2,2021. 09,2021. 09.1,2021. 09.2,2021. 10,2021. 10.1,2021. 10.2,...,2022. 04.2,2022. 05,2022. 05.1,2022. 05.2,2022. 06,2022. 06.1,2022. 06.2,2022. 07,2022. 07.1,2022. 07.2
0,성별(1),경제활동참가율,실업률,고용률,경제활동참가율,실업률,고용률,경제활동참가율,실업률,고용률,...,고용률,경제활동참가율,실업률,고용률,경제활동참가율,실업률,고용률,경제활동참가율,실업률,고용률
1,합계,61.7,4.0,59.2,61.9,3.6,59.7,62.1,4.2,59.5,...,60.4,63.0,3.5,60.8,63.0,3.4,60.8,62.9,3.3,60.9
2,남자,70.0,4.1,67.1,70.3,3.8,67.7,70.6,4.6,67.3,...,68.7,71.8,3.7,69.2,71.6,3.3,69.2,71.3,3.4,68.9
3,여자,54.2,3.9,52.1,54.3,3.4,52.5,54.5,3.7,52.5,...,52.9,55.0,3.3,53.2,55.2,3.6,53.2,55.4,3.1,53

In [19]:
# index, header 지정
pd.read_csv('data/고용지표_20221115084415.csv', encoding='CP949', index_col=0, header=[0,1])

성별(1) 2021. 08            2021. 09            2021. 10            2021. 11  \
성별(1)  경제활동참가율  실업률   고용률  경제활동참가율  실업률   고용률  경제활동참가율  실업률   고용률  경제활동참가율
합계        61.7  4.0  59.2     61.9  3.6  59.7     62.1  4.2  59.5     62.5
남자        70.0  4.1  67.1     70.3  3.8  67.7     70.6  4.6  67.3     71.2
여자        54.2  3.9  52.1     54.3  3.4  52.5     54.5  3.7  52.5     54.6

성별(1)  ... 2022. 04 2022. 05            2022. 06            2022. 07       \
성별(1)  ...      고용률  경제활동참가율  실업률   고용률  경제활동참가율  실업률   고용률  경제활동참가율  실업률
합계     ...     60.4     63.0  3.5  60.8     63.0  3.4  60.8     62.9  3.3
남자     ...     68.7     71.8  3.7  69.2     71.6  3.3  69.2     71.3  3.4
여자     ...     52.9     55.0  3.3  53.2     55.2  3.6  53.2     55.4  3.1

성별(1)
성별(1)   고용률
합계     60.9
남자     68.9
여자     53.0

[3 rows x 36 columns]

<br>


### 1.3. Excel 파일 불러오기  

`Excel` 파일은 구버전의 **xls**와 새로운 버전의 **xlsx**로 구분하며 추가 라이브러리 `xlrd`와 `openpyxl` 설치 필수
 이후 pandas의 `read_excel( )`을 사용 가능 
 > pandas 1.3 이전 버전에서는 **xlsx** 파일을 불러올 때 함수 안에 `, engine='openpyxl'`를 추가해야할 수도 있습니다.

In [21]:
# 무난한 첫번째 시트 데이터 불러오기
sheet1 = pd.read_excel('./data/test.xlsx')
sheet1

   ID  Var1  Var2  Var3
0   1    11    45    75
1   2    54    32    34
2   4    65    43    54

In [22]:
# 시트 번호 지정하고 2줄 무시하기
sheet2 = pd.read_excel('data/test.xlsx', sheet_name=1, skiprows=2)
sheet2
    ## sheet_name : 시트 이름이나 번호 지정, 번호는 0부터 시작
    ## skiprows   : 무시할 행 수

   이름  나이    키
0  민서  20  160
1  민준  21  175

In [23]:
# 첫 행부터 데이터가 시작되는 데이터 불러오기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None)
sheet3
    ## header : 첫 행에 변수이름이 저장되었는지 여부

      0   1
0  2015  32
1  2016  34
2  2017   -

In [26]:
# 첫 행부터 데이터가 시작되는 데이터 불러오면서 변수 이름 지정하기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None, names=['년도','건수'])
sheet3

     년도  건수
0  2015  32
1  2016  34
2  2017   -

In [27]:
# 결측 저장값 지정하기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None, names=['년도','건수'], na_values='-')
sheet3
    ## NaN : 결측값

     년도    건수
0  2015  32.0
1  2016  34.0
2  2017   NaN


<br>  

####  [실습] 아래의 사이트에서 관심있는 데이터를 탐색하기

* csv 파일 중 인코딩 관련 에러가 발생할 경우 read_csv( )안에서 `encoding='CP949'` 옵션 추가
* xlsx의 경우 다운로드한 파일을 열어서 읽기 전용을 해제해야 할 수도 있음



[공공데이터포털](https://www.data.go.kr/index.do)

[서울 열린데이터 광장](http://data.seoul.go.kr/)

[Dacon](https://dacon.io/)

In [34]:
pd.read_csv("/Users/user/Downloads/대구광역시_산업단지 기업 등록현황_20230714.csv",
           encoding="cp949", index_col=0)

,단지명,회사명,지식산업센터명,공장대표주소(도로명),공장대표주소(지번),대표업종번호,업종번호,업종명,관할조직명,설립구분,사업유형,남종업원,여종업원,외국인(남),외국인(여),종업원수,생산품,주원자재
순번,,,,,,,,,,,,,,,,,,
1,성서지방산업단지,( 주)명장,NaN,"대구광역시 달서구 호산동로7길 42, (3차단지 95B 1-7L) (호림동)",대구광역시 달서구 호림동 2-18번지,30399.0,30399+29294+30391+30392+30400,그 외 자동차용 신품 부품 제조업 외 4 종,대구성서산업단지관리공단,일반산업단지,제조업,27.0,7.0,NaN,NaN,34,실린더+댐퍼,NaN
2,서대구일반산업단지,(SM)컨설팅,디센터 1976,"대구광역시 서구 와룡로 307, 1층 104호(중리동) 1층 104호",대구광역시 서구 중리동 1166-1 1층 104호 1층 104호,68112.0,68112,비주거용 건물 임대업,서대구산업단지관리공단,일반산업단지,비제조업,0.0,0.0,NaN,NaN,0,경영 컨설팅,NaN
3,대구제3일반산업단지,(사)한국장애인문화협회,NaN,대구광역시 북구 노원로1길 160 (노원동3가),대구광역시 북구 노원동3가 39번지,17901.0,17901+18111+18113+18119,문구용 종이제품 제조업 외 3 종,대구제3산업단지관리공단,일반산업단지,제조업,3.0,0.0,0.0,0.0,3,스케치북+수첩 등,지류
4,달성2차일반산업단지,(사)한국지체장애인협회 달성군장애인재활자립작업장,NaN,대구광역시 달성군 구지면 달성2차로 221,대구광역시 달성군 구지면 예현리 757-12 달성군장애인재활자립작업장,16292.0,16292+18119+22231+32029+33933,장식용 목제품 제조업 외 4 종,한국산업단지공단 대구지역본부 달성사무소,일반산업단지,제조업,37.0,21.0,0.0,0.0,58,쓰레기종량제봉투 외,폴리에틸렌
5,성서5차첨단산업단지,(유)대구특수금속,NaN,"대구광역시 달성군 다사읍 세천로3길 69, 성서5차첨단산업단지 6B 4L",대구광역시 달성군 다사읍 세천리 1670-4번지 성서5차첨단산업단지 6B 4L,29294.0,29294,주형 및 금형 제조업,대구성서산업단지관리공단,일반산업단지,제조업,141.0,43.0,NaN,NaN,184,자동차상업인쇄,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8127,성서지방산업단지,희성전자(주)대구공장,NaN,"대구광역시 달서구 성서공단로11길 63, (3차단지 81B 1L) (호산동)",대구광역시 달서구 호산동 710번지,26211.0,26211+28410+28422,액정 표시장치 제조업 외 2 종,대구성서산업단지관리공단,일반산업단지,제조업,656.0,374.0,0.0,0.0,1030,B L U+LED조명장치,철
8128,대구제3일반산업단지,희창기계,NaN,대구광역시 북구 노원로9길 70 (노원동3가),대구광역시 북구 노원동3가 200-5번지,29261.0,29261,"산업용 섬유 세척, 염색, 정리 및 가공 기계 제조업",대구제3산업단지관리공단,일반산업단지,제조업,2.0,0.0,0.0,0.0,2,섬유기계,철재류
8129,대구제3일반산업단지,희현테크,NaN,대구광역시 북구 3공단로 97-12 (노원동3가),대구광역시 북구 노원동3가 244-12,25924.0,25924,절삭가공 및 유사처리업,대구제3산업단지관리공단,일반산업단지,제조업,NaN,1.0,NaN,NaN,1,기계부품,금속
8130,성서지방산업단지,힉스정밀,NaN,"대구광역시 달서구 성서공단남로 170, 2차단지 39B 4L (월암동)",대구광역시 달서구 월암동 916-3번지 2차단지 39B 4L,29142.0,29142,기어 및 동력전달장치 제조업,대구성서산업단지관리공단,일반산업단지,제조업,7.0,1.0,NaN,NaN,8,풀리(PULLEY),NaN
8131,대구제3일반산업단지,힐링워커,NaN,대구광역시 북구 3공단로33길 27-2(노원동3가),대구광역시 북구 노원동3가 59-8,29210.0,29210+30399+31202+31322,농업 및 임업용 기계 제조업 외 3 종,대구제3산업단지관리공단,일반산업단지,제조업,NaN,NaN,NaN,NaN,0,프레스금형,금속

In [31]:
pd.read_csv("../../../Downloads/대구광역시_산업단지 기업 등록현황_20230714.csv",
           encoding="cp949", index_col=0)

,단지명,회사명,지식산업센터명,공장대표주소(도로명),공장대표주소(지번),대표업종번호,업종번호,업종명,관할조직명,설립구분,사업유형,남종업원,여종업원,외국인(남),외국인(여),종업원수,생산품,주원자재
순번,,,,,,,,,,,,,,,,,,
1,성서지방산업단지,( 주)명장,NaN,"대구광역시 달서구 호산동로7길 42, (3차단지 95B 1-7L) (호림동)",대구광역시 달서구 호림동 2-18번지,30399.0,30399+29294+30391+30392+30400,그 외 자동차용 신품 부품 제조업 외 4 종,대구성서산업단지관리공단,일반산업단지,제조업,27.0,7.0,NaN,NaN,34,실린더+댐퍼,NaN
2,서대구일반산업단지,(SM)컨설팅,디센터 1976,"대구광역시 서구 와룡로 307, 1층 104호(중리동) 1층 104호",대구광역시 서구 중리동 1166-1 1층 104호 1층 104호,68112.0,68112,비주거용 건물 임대업,서대구산업단지관리공단,일반산업단지,비제조업,0.0,0.0,NaN,NaN,0,경영 컨설팅,NaN
3,대구제3일반산업단지,(사)한국장애인문화협회,NaN,대구광역시 북구 노원로1길 160 (노원동3가),대구광역시 북구 노원동3가 39번지,17901.0,17901+18111+18113+18119,문구용 종이제품 제조업 외 3 종,대구제3산업단지관리공단,일반산업단지,제조업,3.0,0.0,0.0,0.0,3,스케치북+수첩 등,지류
4,달성2차일반산업단지,(사)한국지체장애인협회 달성군장애인재활자립작업장,NaN,대구광역시 달성군 구지면 달성2차로 221,대구광역시 달성군 구지면 예현리 757-12 달성군장애인재활자립작업장,16292.0,16292+18119+22231+32029+33933,장식용 목제품 제조업 외 4 종,한국산업단지공단 대구지역본부 달성사무소,일반산업단지,제조업,37.0,21.0,0.0,0.0,58,쓰레기종량제봉투 외,폴리에틸렌
5,성서5차첨단산업단지,(유)대구특수금속,NaN,"대구광역시 달성군 다사읍 세천로3길 69, 성서5차첨단산업단지 6B 4L",대구광역시 달성군 다사읍 세천리 1670-4번지 성서5차첨단산업단지 6B 4L,29294.0,29294,주형 및 금형 제조업,대구성서산업단지관리공단,일반산업단지,제조업,141.0,43.0,NaN,NaN,184,자동차상업인쇄,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8127,성서지방산업단지,희성전자(주)대구공장,NaN,"대구광역시 달서구 성서공단로11길 63, (3차단지 81B 1L) (호산동)",대구광역시 달서구 호산동 710번지,26211.0,26211+28410+28422,액정 표시장치 제조업 외 2 종,대구성서산업단지관리공단,일반산업단지,제조업,656.0,374.0,0.0,0.0,1030,B L U+LED조명장치,철
8128,대구제3일반산업단지,희창기계,NaN,대구광역시 북구 노원로9길 70 (노원동3가),대구광역시 북구 노원동3가 200-5번지,29261.0,29261,"산업용 섬유 세척, 염색, 정리 및 가공 기계 제조업",대구제3산업단지관리공단,일반산업단지,제조업,2.0,0.0,0.0,0.0,2,섬유기계,철재류
8129,대구제3일반산업단지,희현테크,NaN,대구광역시 북구 3공단로 97-12 (노원동3가),대구광역시 북구 노원동3가 244-12,25924.0,25924,절삭가공 및 유사처리업,대구제3산업단지관리공단,일반산업단지,제조업,NaN,1.0,NaN,NaN,1,기계부품,금속
8130,성서지방산업단지,힉스정밀,NaN,"대구광역시 달서구 성서공단남로 170, 2차단지 39B 4L (월암동)",대구광역시 달서구 월암동 916-3번지 2차단지 39B 4L,29142.0,29142,기어 및 동력전달장치 제조업,대구성서산업단지관리공단,일반산업단지,제조업,7.0,1.0,NaN,NaN,8,풀리(PULLEY),NaN
8131,대구제3일반산업단지,힐링워커,NaN,대구광역시 북구 3공단로33길 27-2(노원동3가),대구광역시 북구 노원동3가 59-8,29210.0,29210+30399+31202+31322,농업 및 임업용 기계 제조업 외 3 종,대구제3산업단지관리공단,일반산업단지,제조업,NaN,NaN,NaN,NaN,0,프레스금형,금속

## 2.  DRM 보안 적용된 Excel 파일 불러오기

### 2.1. pywin32 활용

In [ ]:
import pandas as pd
import win32com.client as win32
import os 

# Excel 실행
excel=win32.Dispatch('Excel.Application')   

# 경로 지정 및 파일 열기
filepath = os.getcwd() +'/data/test.xlsx'
wb = excel.Workbooks.Open(filepath)

filepath

In [ ]:
# Sheet 지정
ws = wb.Worksheets(1) 

# 전체 행, 열 수 확인
nRow = ws.UsedRange.Rows.Count 
nColumn = ws.UsedRange.Columns.Count 

# 불러올 범위 지정
listValue = ws.Range(ws.Cells(1,1) , ws.Cells(nRow,nColumn)).Value
pd.DataFrame(listValue[1:] , columns=listValue[0])

In [ ]:
# Excel 종료
excel.Quit()

<br>

한번에 실행

In [ ]:
import pandas as pd
import win32com.client as win32
import os 

# Excel 실행
excel=win32.Dispatch('Excel.Application')   

# 경로 지정 및 파일 열기
filepath = os.getcwd() +'/data/test.xlsx'
wb = excel.Workbooks.Open(filepath)

# Sheet 지정
ws = wb.Worksheets(1) 

# 전체 행, 열 수 확인
nRow = ws.UsedRange.Rows.Count 
nColumn = ws.UsedRange.Columns.Count 

# 불러올 범위 지정
listValue = ws.Range(ws.Cells(1,1) , ws.Cells(nRow,nColumn)).Value
df_drm = pd.DataFrame(listValue[1:] , columns=listValue[0]) 

excel.Quit()     

df_drm

<br>
<br>

### 2.2. xlwings 라이브러리 활용

+ 장점: VBA 연동 가능

In [ ]:
# 라이브러리 설치
# !pip install xlwings

In [ ]:
# 라이브러리 불러오기
import xlwings as xw
import pandas as pd
import os

In [ ]:
# Excel 파일 열기
# filepath = os.getcwd() +'/data/test.xlsx'
book = xw.Book('./data/test.xlsx')

In [ ]:
# Sheet 선택
sheet = book.sheets[0]    

# 전체 데이터 데이터 불러오기
df_drm = sheet.used_range.options(pd.DataFrame, index = False).value
df_drm

In [ ]:
# 특정 부분만 불러오기
sheet = book.sheets[1]    
df_drm = sheet.range("A3:C5").options(pd.DataFrame, index = False).value
df_drm

In [ ]:
# 종료
xw.apps.active.quit()

#### End of script